/* Big tablet to 1200px (widths smaller than the 1140px row)   */

@media only screen and (max-width: 1300px) {
  /*----------SEARCH SECTION-----------*/

  .plan-text-btn {
    font-size: 85%;
  }
}

@media only screen and (max-width: 1200px) {
  /*----------HERO SECTION-----------*/
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  /* We set padding to all rows to keep them visible within the shrinking browser*/
  .row {
    padding: 0 2%;
  }

  .plan-box {
    width: 100%;
    margin-left: 0%;
    /* ^^ Since we had a margin-left of 5%, we need to remove that so the margin closes-in
    normally when the browser is shrunk.*/
  }

  .plan-text-btn {
    font-size: 75%;
  }
}

@media only screen and (max-width: 1137px) {
  .icon-small {
    width: 20px;
    margin-right: 5px;
  }
  .city-feature {
    font-size: 90%;
  }

  /*----------SEARCH BAR SECTION-----------*/

  .centerbox {
    margin-left: 3%;
  }

  .plan-box {
    width: 100%;
    margin-left: 0%;
    /* ^^ Since we had a margin-left of 5%, we need to remove that so the margin closes-in
    normally when the browser is shrunk.*/
  }
}

/* Small tablet to big tablet, 768px - 1023px. iPad in landscape view is 1024px.*/
@media only screen and (max-width: 1023px) {
  /*----------UNIVERSAL EFFECTS-----------*/
  body {
    font-size: 18px;
  }
  /* Since we set all font-sizes through percentages, minus the main body function. where we
    set the font to 20px, we can change the font size to 18px, and all fonts will
    follow in according ratio. 
    In summary, the font will shrink to 18px when the window is within this range.*/

  section {
    padding: 50px 0;
  }
  /* We take the section function from the style.css, and reduce the padding size.
   This allows for greater height seperation between section classes.*/

  /*-----NAV--------*/

  .main-nav li {
    font-size: 95%;
    margin-left: 30px;
  }

  .logo {
    width: auto;
    top: 17px;
    left: 2%;
  }

  /*----------SEARCH BAR SECTION-----------*/

  .centerbox {
    margin-left: 3%;
  }

  /*----------FEATURES SECTION-----------*/
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }
  /*We increase the initial paragraph width of the features section, to better fit the shrunk
  ratio. Always keep in mind, mentally we double the margin % to match up to 100% with the width.
  In this case, 80% width, means we want margin-left at 10% (since 10%x2 + 80% = 100%).*/

  /*----------STEPS SECTION-----------*/

  .section-steps {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .steps-box2 {
    padding-right: 15%;
  }

  .works-step {
    margin-bottom: 0;
  }

  .app-screen {
    width: 250px;
  }

  /*----------CITIES SECTION-----------*/
  .icon-small {
    width: 20px;
    margin-right: 5px;
  }
  .city-feature {
    font-size: 90%;
  }

  /*----------SIGN UP SECTION-----------*/
  .plan-box {
    width: 100%;
    margin-left: 0%;
    /* ^^ Since we had a margin-left of 5%, we need to remove that so the margin closes-in
    normally when the browser is shrunk.*/
  }
}

@media only screen and (max-width: 930px) {
  /*----------SEARCH BAR SECTION-----------*/

  .centerbox {
    margin-left: 3%;
  }
}

@media only screen and (max-width: 912px) {
  .works-step {
    margin-bottom: 0;
  }

  .steps-box2 {
    padding-right: 15%;
    margin-top: 5%;
  }

  /*----------SEARCH BAR SECTION-----------*/

  .centerbox {
    margin-left: 3%;
  }
}

/*-----------------------------------------*/
/*---------CITIES SECTION TWEAKS-----------*/
@media only screen and (max-width: 888px) {
  .row {
    max-width: 100%;
    margin: 0 auto;
  }

  .logo {
    width: auto;
    top: 15px;
    left: 2%;
  }

  /*----------SEARCH BAR SECTION-----------*/

  .centerbox {
    margin-left: 7%;
  }

  .icon-small {
    width: 17px;
  }
  .city-feature {
    font-size: 80%;
  }

  .main-nav li {
    font-size: 95%;
  }

  .app-screen {
    width: 250px;
  }
}

@media only screen and (max-width: 820px) {
  .main-nav li {
    font-size: 90%;
  }

  /*----------SEARCH BAR SECTION-----------*/
  .centerbox {
    margin-left: 9%;
  }
}

@media only screen and (max-width: 790px) {
  .icon-small {
    width: 16px;
  }
  .city-feature {
    font-size: 80%;
  }

  /*----------SEARCH BAR SECTION-----------*/
  .centerbox {
    margin-left: 9%;
  }
}

@media only screen and (max-width: 785px) {
  .icon-small {
    width: 15px;
  }
  .city-feature {
    font-size: 80%;
  }

  /*----------SEARCH BAR SECTION-----------*/
  .centerbox {
    margin-left: 10%;
  }
}
/*-----------------------------------------*/

/*These rules will apply when the width of the device 
or browser is less than or equal to 767px.
For small phones to small tablets, 481px - 767px.*/
@media only screen and (max-width: 767px) {
  /*----------UNIVERSAL EFFECTS-----------*/
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }

  .col {
    width: 100%;
    margin: 0 0 1% 0;
    /*We take the margin call in ".col" from grid.css to adjust the plan
    boxes alignment. */
  }

  h2 {
    font-size: 150%;
  }

  /*----------HERO SECTION-----------*/
  .row,
  .hero-text-box {
    padding: 0 4%;
  }

  /*----------NAVIGATION-----------*/

  .logo {
    background-color: #ffffff;
    border-radius: 10px;
    border: 4px solid rgb(255, 255, 255);
    margin: 1px;
    height: 60px;
    box-shadow: 2px 4px 6px rgba(73, 73, 73, 0.425);
  }

  /*--HAMBURGER ICON--*/
  .mobile-nav-icon {
    display: inline-block;
  }

  .sticky .mobile-nav-icon {
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 0;
  }

  .main-nav {
    float: right;
    margin-top: 40px;
    margin-left: 0;
    display: none;
  }

  .main-nav li {
    display: block;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    margin-left: 0;
    margin-top: 10px;
    border: 0;
    padding: 6px 0;
  }

  .main-nav li a:hover,
  .main-nav li a:active,
  .mobile-nav-icon i:hover,
  .mobile-nav-icon i:active {
    color: #e67e22;
    transition: 0.3s;
  }

  .sticky .main-nav {
    margin-top: 10px;
    margin-left: 0;
    float: right;
  }

  .sticky .main-nav li:link,
  .sticky .main-nav li:visited {
    border: 2px solid #ffffff;
  }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 4px 0;
    border: 0;
    margin-top: 5px;
  }

  .sticky .main-nav li a:hover,
  .sticky .main-nav li a:active,
  .sticky .mobile-nav-icon i:hover,
  .sticky .mobile-nav-icon i:active {
    color: #77400ff8;
    transition: 0.3s;
  }

  /*----------SEARCH BAR SECTION-----------*/
  .centerbox {
    margin-left: 12%;
  }

  /*----------CATEGORY SECTION-----------*/

  .plan-boxes {
    width: 50%;
    padding: 10px;
  }

  .plan-boxes h3 {
    font-size: 110%;
    margin-bottom: 4%;
  }

  .plan-text-btn {
    font-size: 100%;
    margin-top: 12%;
  }

  /*----------FEATURES SECTION-----------*/
  .long-copy {
    width: 100%;
    margin-left: 0%;
  }

  /*----------MOBILE SHOWCASE SECTION-----------*/

  .header1 h2 {
    margin: 20px auto;
    word-spacing: 3px;
  }

  .app-screen {
    width: 220px;
    border-radius: 34px;
  }

  .steps-box1 {
    text-align: left;
    padding-right: 0;
    margin-top: 0;
    width: 50%;
  }

  .steps-box2 {
    padding-right: 0;
    margin-top: 5%;
    width: 50%;
  }

  .works-step {
    margin-bottom: 20px;
  }
  .works-step:last-of-type {
    margin-bottom: 20px;
  }
  .works-step div {
    height: 40px;
    width: 40px;
    padding: 4px;
    margin-right: 15px;
  }

  /*---------MISSION BANNER SECTION-----------*/

  .mission-statement {
    padding-top: 30px;
  }

  .mission-statement h4 {
    width: 90%;
    margin: 0 auto;
  }

  /*---------SWIPER SECTION-----------*/

  .split {
    flex-direction: column;
    width: 100%;
  }
  .split-left {
    width: 100%;
    padding: 12px;
  }

  .split-right {
    width: 100%;
    padding: 12px;
  }

  .foot-nav {
    width: 50%;
  }

  .foot-nav h1 {
    font-size: 95%;
  }

  .foot-nav ul li {
    font-size: 80%;
  }
}

@media only screen and (max-width: 700px) {
  /*----------SEARCH BAR SECTION-----------*/
  .centerbox {
    margin-left: 20%;
  }

  .main-input {
    width: 280px;
  }

  .main-btn {
    width: 120px;
  }

  #main-submit {
    width: 120px;
  }

  .centerbox h1 {
    font-size: 70px;
    margin-right: 18%;
  }
}

@media only screen and (max-width: 630px) {
  /*----------SEARCH BAR SECTION-----------*/
  .centerbox {
    margin-left: 25%;
  }

  .centerbox h1 {
    font-size: 60px;
    margin-right: 20%;
  }

  .main-input {
    width: 240px;
  }

  .main-btn {
    width: 120px;
  }

  #main-submit {
    width: 120px;
  }
}

@media only screen and (max-width: 550px) {
  /*----------SEARCH BAR SECTION-----------*/
  .centerbox {
    margin-left: 30%;
  }

  .centerbox h1 {
    font-size: 50px;
    margin-right: 26%;
  }

  .main-input {
    width: 220px;
  }

  .main-btn {
    width: 110px;
  }

  #main-submit {
    width: 110px;
  }
}

@media only screen and (max-width: 507px) {
  h1 {
    font-size: 180%;
  }

  .centerbox {
    margin-left: 40%;
  }

  .centerbox h1 {
    font-size: 45px;
    margin-right: 39%;
  }

  .main-input {
    width: 180px;
  }

  .main-btn {
    width: 100px;
  }

  #main-submit {
    width: 100px;
  }

  .mission-statement h4 {
    font-size: 170%;
  }

  .mission-statement p {
    font-size: 90%;
  }
}

/*These rules will apply when the width of the device 
or browser is less than or equal to 480px. For small phones.*/
@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }
  .contact-form {
    width: 100%;
  }

  .mission-statement h4 {
    font-size: 140%;
  }
  .mission-statement p {
    font-size: 80%;
    margin: 0 auto;
  }
}
